<h2 id='interests'>Interests</h2>
  <p>My hobbies and interests are constantly changing, and if I'm being honest I can't really keep track of them. Over the years that two have remained consistent are music and games.</p>

  <p>I play some games. Mostly video games and table top RPG's, but I'm also into board games, and dabble in TCG's every few years. I recently took up Warhammer: Age of Sigmar, and have a lot of points of unpainted Skaven sitting on my shelf. I play in a weekly-ish D&amp;D game game with a bunch of folks I have known for a really long time. I'm a pretty big nerd, and I'm pretty happy with that.</p>

  <p>Everyobody loves music, so it seems trite to say it, but I am unsurprisingly also fond of music. I play a little, and sporadically. I listen to a lot. I'm currently trying to find the very weird seam between country, American folk, and heavy metal.</p>

  <p>Our cats are Sam, Charlie, Panther and Half-Panther. Sam and Charlie are older tuxedo brothers. Panther and Half-Panther are foster fails. Sam is my best friend. Charlie is the neediest cat in history. We call the kittens "the kittens" but they are fully grown cats.</p>
