<h2 id='interests'>Do you do anything interesting?</h2>
  <p>I play games. Not as many video games, though I play those too, mostly table top games. Board games, card games. I shamelessly play pen and paper RPG's. I run a weekly-ish <a href="http://paizo.com/pathfinder">Pathfinder</a> game with a bunch of dudes I have known for a really long time. I strive constantly to be a better storyteller.</p>
  
  <p>I'm a synth dude extraordinaire, I'm not much of a musician anymore, but I am still in love with <a href="http://en.wikipedia.org/wiki/Modular_synthesizer">modular synths</a>. If you're interested: I'm in the frac camp, I am thinking of going euro though. My synth only has three rows. I have a module that detects radiation.</p>

  <p>I am on a barbecue team called Two Big Butts, we don't have a website, and I don't recommend trying to google it at work. My title is grill consultant. My specialty is desserts prepared on a grill and briskets. I've been told I make mean ribs, but I've never eaten one. I keep a list of what woods add what flavors, and which meats they complement. It's serious business.</p>

  <p>I also make <a href="https://en.wikipedia.org/wiki/Mead">mead</a>. I started making mead after I figured out I was bad at making beer. I'm actually pretty good at it. Which is a relief because mead is delicious.</p>

  <p>I'm a member of the <a href="http://sonsofben.com/">Sons of Ben</a> and have season tickets in The River End, I might be the worst soccer fan in history though.</p>

  <p>My cats' name's are Sam and Charlie. They are tuxedo cats and are very clearly brothers. I know they aren't really an interest but if you let me, I will talk about them endessly.</p>
<a href="#top" class='top_link'>Top</a>
