<h2 id='social'>Let's be friends.</h2>
  <p>
    I'm on the <a href="https://twitter.com/mrkplt">twitters</a>, the <a href="https://www.facebook.com/mrkplt">facebooks</a>, <a href="https://github.com/mrkplt">github</a>, <a href="http://www.rdio.com/people/mrkplt/">rdio</a>, <a href="http://www.linkedin.com/in/markplatt/">linkedin</a>, <a href="http://mrkplt.tumblr.com/">tumblr</a>, <a href="http://instagram.com/mrkplt">instagram</a>. They are listed in roughly the order I use them. I'm totally into talking to people I don't know about awesome stuff.
  </p>
  <p>
    You can email me at <a href="mailto:mark.platt@mrkplt.com">mark.platt@mrkplt.com</a>. 
  </p>
<a href="#top" class='top_link'>Top</a>