<h2 id='social'>Let's be friends.</h2>
  <p>
    You can email me at <a href="mailto:mark.platt.2015@mrkplt.com">mark.platt.2015@mrkplt.com</a>.
  </p>
  <p>
    <ul>
      <li><a href="https://rubygems.org/gems/time_jawn">TimeJawn</a> - A gem that makes instance objects Time Zone aware. (Owner)</li>
      <li><a href="https://rubygems.org/gems/not_nil">NotNil</a> - not_nil? (Owner)</li>
      <li><a href="https://rubygems.org/gems/csv_class_maker">CSV Class Maker</a> - Make a csv file into ActiveRecord style instances.
      <li><a href="https://github.com/mttdffy/action_permission">Action Permission</a> - Action-based and attribute-based permissions for rails 3+ applications. (Contributor)</li>
      <li><a href="https://github.com/patricktulskie/deep_tree">DeepTree</a> - DeepTree simplifies fetching deeply nested nodes in Ruby hashes. (Contributor)</li>
      <li><a href="https://github.com/mrkplt">Github</a></li>
      <li><a href="https://gist.github.com/mrkplt">Gists</a></li>
      <li><a href="http://www.linkedin.com/in/markplatt/">LinkedIn</a></li>
      <li><a href="https://twitter.com/mrkplt">Twitter</a></li>
      <li><a href="https://www.facebook.com/mrkplt">Facebook</a></li>
      <li><a href="http://instagram.com/mrkplt">Instagram</a></li>
    </ul>
  </p>

<a href="#top" class='visually-hidden'>Top</a>
