<h2 id='social'>Contact</h2>
  <p>
    You can email me at <a href="mailto:mark.platt.2019@mrkplt.com">mark+2018@mrkplt.com</a>.
  </p>
  <p>
    <ul>
      <li><a href="https://github.com/mrkplt">Github</a></li>
      <li><a href="http://www.linkedin.com/in/markplatt/">LinkedIn</a></li>
      <li><a href="https://keybase.io/mrkplt">Keybase</a></li>
      <li><a href="https://twitter.com/mrkplt">Twitter</a></li>
      <li><a href="https://www.facebook.com/mrkplt">Facebook</a></li>
      <li><a href="http://instagram.com/mrkplt">Instagram</a></li>
    </ul>
  </p>
