<h2 id='work'>So what do you do?</h2>
<p>
  I've worked for <a href="http://www.tammantech.com">Tamman Technologies</a> since 2011, before that I worked in non-profit, and before that I worked for an investment advisor. I have decent Ruby chops, and can handle myself on the client tier. Before my job was writing Ruby, I wrote PHP for fun. I went to <a href="http://www.drexel.edu">Drexel</a> a million years ago for information technology.
</p>
<p>
  I was, not too long ago, an IT consultant working with companies to integrate Windows and Macs within enterprise environments in a way that made sense and was simple to manage. This has given me a unique perspective on the entire stack from hardware (virtual, or not) to code. There is no technology I shy away from, and nothing that I can't learn. I'm passionate about what I do.
</p>
<a href="#top" class='top_link'>Top</a>