<h2 id='work'>So what do you do?</h2>
<p>
  I'm a technical manager and <a href="http://rubyonrails.org/">Ruby on Rails</a> developer with a strong background in IT and consulting. I bring to the table insights about processes, cost, timelines, staffing, team resourcing, and culture building. I work for <a href="http://www.weblinc.com">Weblinc</a> supporting several teams of Rails developers implementing ecommerce sites on our platform. I went to <a href="http://www.drexel.edu">Drexel</a> a million years ago for information technology.
</p>

<a href="#top" class='visually-hidden'>Top</a>
