<h2 id='work'>So what do you do?</h2>
<p>
  I'm a <a href="http://rubyonrails.org/">Ruby on Rails</a> developer with a strong background in IT and consulting. I'm comfortable with web applications from the hardware to the browser, and I bring to the table insights about processes, cost, and timelines that speak to the needs of clients and stakeholders.  I work for <a href="http://www.weblinc.com">Weblinc</a> as part of a team of Rails developers implementing ecommerce sites on our platform. Before my job was writing Ruby, I wrote PHP for fun. I went to <a href="http://www.drexel.edu">Drexel</a> a million years ago for information technology.
</p>
<p>
  In my previous life as an IT consultant I worked with companies to integrate Windows and Macs within enterprise environments in a way that made sense and was simple to manage. There is no technology I shy away from, and nothing that I can't learn. I'm passionate about what I do.
</p>

<a href="#top" class='top_link'>Top</a>