<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>

<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Droid+Serif' rel='stylesheet'>
<!--[if lte IE 8]>
  <link rel="stylesheet" href="css/ie.css">
<![endif]-->

<!-- <link rel="author" href="humans.txt"> -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25194965-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>

<body>

<header class="ss-page-header" role="banner"><div class="wrapper clearfix">
  <h1>MrkPlt</h1>

  <a id="show-nav" class="ss-text-button show-nav" href="#primary-nav"><span>Menu</span></a>

  <nav id="primary-nav" class="primary-nav" role="navigation">
    <ul class="ss-list-primary-nav">
      <li><a href="#bio">Bio</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#interests">Interests</a></li>
      <li><a href="#social">Social</a></li>
    </ul>
  </nav><!--/end primary-nav-->

</div></header><!--/end .ss-page-header-->

<main id="main" class="ss-page-content" role="main">
  <div class="wrapper">
    {{ content }}
  </div>
</main>

<footer class="ss-page-footer content-block" role="contentinfo">
  <div class="wrapper">
    <p class="copyright">&copy;{{ site.time | date: "%Y" }} Mark Platt</p>
  </div>
</footer>

<script src="javascript/jquery-2.0.3.min.js"></script>
<script src="javascript/jquery.localscroll-1.2.7-min.js"></script>
<script src="javascript/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="javascript/index.js"></script>

</body>
</html>
